<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="wrapper">
      <header>
        <!-- <img src="https://yuan-cc.github.io/files/profile-min.png" alt="profile" width="220" height="200"> -->
        <img src="https://yuan-cc.github.io/files/profile2.JPG" alt="profile2" width="220" height="240">
        <h3 style="color:#703594; text-align: right; line-height:55%;font-weight: bold; font: 'Helvetica Neue', sans-serif; font-family: 'Helvetica Neue', sans-serif">&nbsp;<span style="color:#6d6875">c</span><span style="color:#B5838D">hengchao</span><span style="color:#6d6875">y</span><span style="color:#B5838D">uan</span>&nbsp;&nbsp;</h3>
         <!-- <h3 style="color:#703594; text-align: right; line-height:55%;font-weight: bold; font: 'Helvetica Neue', sans-serif; font-family: 'Helvetica Neue', sans-serif">&nbsp;Chengchao Yuan&nbsp;&nbsp;</h3>
          -->
        <h3 style="color:#703594; text-align: right; line-height:55%; font-weight: bold; font: ‘PingFang SC’, STFangSong, STXihei, 'Hiragino Sans GB', ‘Microsoft Yahei’">&nbsp;袁成超&nbsp;&nbsp;</h3>
        <hr style="line-height : 5%; height:4px;border-width:0;color:#B3A1BF;background-color:#B3A1BF">
        <h3 style="font-weight: normal;line-height : 45%; text-align: right;"><a href="https://yuan-cc.github.io/" style="color:#624677; text-decoration: none;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Home&nbsp;&nbsp;&nbsp;</a></h3>        
        <h3 style="font-weight: normal;line-height : 45%; text-align: right;"><a href="https://yuan-cc.github.io/events.html" style="color:#624677; text-decoration: none;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Events&nbsp;&nbsp;&nbsp;</a></h3>
        <h3 style="font-weight: normal;line-height : 45%; text-align: right;"><a href="https://yuan-cc.github.io/research/research.html" style="color:#624677; text-decoration: none;" ,class="btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Research&nbsp;&nbsp;&nbsp;</a></h3>
        <h3 style="font-weight: normal;line-height : 45%; text-align: right;"><a href="https://yuan-cc.github.io/CV.html" style="color:#624677; text-decoration: none;",class="btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          CV&nbsp;&nbsp;&nbsp;</a></h3>  
        <h3 style="font-weight: normal;line-height : 45%; text-align: right;"><a href="https://yuan-cc.github.io/publications.html" style="color:#624677;text-decoration: none;",class="btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Publications&nbsp;&nbsp;&nbsp;</a></h3>  
        
        <!--- <h3 style="font-weight: normal;line-height : 80%; text-align: right;"><a href="https://yuan-cc.github.io/personal.html" style="color:#624677;text-decoration: none;",class="btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Personal&nbsp;&nbsp;&nbsp;</a></h3>   --->
        
        <h3 style="font-weight: normal;line-height : 45%; text-align: right;"><a href="https://yuan-cc.github.io/contact.html" style="color:#624677;text-decoration: none;",class="btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Contact&nbsp;&nbsp;&nbsp;</a></h3>   
        <br />
        <br />
        <!-- <p style="font-size:15px; line-height : 55%; text-align: right;">&ldquo;苟日新，日日新，又日新。&rdquo;&nbsp;&nbsp;</p>
        <p style="font-size:15px; line-height : 55%; text-align: right;">&laquo; 礼记 &middot; 大学 &raquo;&nbsp;&nbsp;&nbsp;</p> --->
        <br />
        <!--  <img src="https://yuan-cc.github.io/files/label2.png" width="51%" align="right"><br />
        <img src="https://yuan-cc.github.io/files/label1.png" width="51%" align="right">--->
                   
    </header>

      <section>

      {{ content }}

      </section>
   </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
   
  </body>
</html>
